.wrapper
  = render "side_bar"
  = render "main_chat"

.header
  .header-group__name
    %h1.header-group__name__site
      teck camp
    .header-group__text
      %h1.header-group__message__text
        まだメッセージがありません


.chat-side
  .side-header
  .side-header__box
    %p.side-header__box__username
      amako hiroshi
    .side-header__box__menu
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          =link_to "#" do
            = icon("fas","edit")
        %li.side-header__box__cog 
          =link_to "#" do
            = icon("fas","cog")

.contents
  .contents__message 
    %li.contents__message__name
      test
      %li.contents__message__day
        2019/11/20(Wed) 17:43:01
    %h3.contents__message__hello
      おはよう！
  .contents__message2
    %li.contents__message2__name2
      test
      %li.contents__message2__day2
        2019/11/20(Wed) 17:43:01
    %h3.contents__message2__hello2
      今日は夜から雨

.chatmain
  .chatmain__info
    %h2.chatmain__info__test
      test
      %li.chatmain__info__member
        member amako hiroshi
  .chatmain__edit
    =link_to "https://www.facebook.com/", class: "chatmain__edit__btn" do
      Edit
            
  .form
    .chatmessage-form__click
      %input{type: "text", class: "chatmessage-form__click__text",placeholder: "type a message"}
      %label{class: "chatmessage-form__click__image"}
        =icon("fas","image")
        %input{type:"file",class:"chatmessage-form__click__file"}
    %input{type:"submit",class: "submit-btn"}