.wrapper
  = render "side_bar"
  = render "main_chat"

.header 
.side-bar_user-name
  .name
  %p.name_user
    amako hiroshi
  %ul.menu
    %li.user_edit
      =link_to "#" do
        = icon("fas","edit")
    %li.user_group
      =link_to "#" do
        = icon("fas","edit")
.contents
  .contents__message
  .chatmain_info
  .chatmessage_form