.header {
  height: 100vw;
  width:300px;
  background-color: #253141;
  position: fixed;
  display: flex;
  top: 100px;
  padding-top: 20px;
  color:white;

}

.header-group__name{
  margin-left: 20px;
  font-size:15px;
}

.header-group__text{
  font-size:11px;
  padding-top: 5px;
}

.chat-side{
  height: 100px;
  width:300px;
  background-color: blue;
  position: fixed;
  display: flex;
  align-items:center;
}

.side-header{
  height:100px;
  margin: 20px;
  display:flex;
  &__box{
    display:flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 20px;
    font-weight: bold;
    margin-right: 20px;
    font-size:16px;
    &__menu{
      display:flex;
      
      li{
        a{
          color: white;
          margin-left: 5px;
        }
      }
    }
  }
}


.contents{
  height: 100vw;
  width: calc(100vw - 300px);
  background-color: orange;
  float:right;
}

.contents__message{
  padding-top:135px;
  &__name{
    font-size:16px;
  }

  &__day{
    font-size:11px;
  }

  li {
    float: left;
    padding-right: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left:40px;
  }

  h3{
    margin-top:32px;
    margin-left:40px;
    font-size:14px;
  }
}



.chatmain__info{
  margin-top:35px;
  h2{
  color: black;
  margin-bottom: 15px;
  font-size: 20px;
  margin-left:40px;
  }
  li{
  font-size: 12px;
  color: black;
  display: flex;
  margin-top:15px;
  } 
}

.chatmain__edit{
  margin-top:28px;
  &__btn{
  color:white;
  font-size:16px;
  margin-right:40px;
  border: 1px solid blue;
  padding: 10px 20px;
  background-color:blue;
  }
}

.chatmain{
  height: 100px;
  width: calc(100vw - 300px);
  background-color: yellow;
  margin-left:300px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  }



  .form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: red;
    float:right;
    position: fixed;
    bottom:0px;
    align-items:center;
    display:flex;
  }
    .chatmessage-form__click{
      width:100%;
      display:flex;
      position: relative;
      &__text{
        height:50px;
        width:85%;
        border-style:none;
        padding: 0 40px 0 10px;
        align-items:center;
        margin-left: 50px;
      }

      &__image{

        cursor:pointer;
        font-size:1.3rem;
        position:absolute;
        top:10px;
        right:35px;
      }

      &__file{
        display:none;
      }
    }
    .submit-btn{
      width: 100px;
      height:50px;
      padding: 0 30px;
      margin-right: 45px;
      background-color: red;
      color: white;
      cursor: pointer;
      margin-left:15px;
    }
  






