.header {
  height: 100vw;
  width:300px;
  background-color: #253141;
  position: fixed;
}

.contents{
  height: 100vw;
  width: calc(100vw - 300px);
  background-color: orange;
  float:right;
}

.name{
  margin : 20px ;
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: red;
  display: flex;
  }


.side-bar_user-name{
  height: 100px;
  width:300px;
  background-color: blue;
  position: fixed;
  display: flex;
  align-items: center;
}

.chatmain_info{
  height: 100px;
  width: calc(100vw - 300px);
  background-color: yellow;
  float:right;
  position: fixed;
}

.chatmessage_form{
  height: 90px;
  width: calc(100vw - 300px);
  background-color: red;
  float:right;
  position: fixed;
  bottom:0px;
  
}